.first-expense-section{
    background: #F7F7F7;
    padding:15px 0px;
}
table th{
    border-top: none !important;
    border-bottom: 1px solid #dee2e6 !important;
}
.expensesvaluesd{
    width: 100%;
}
.sales-section{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.expneses table{
    background: white;
}