.sidebar_items {
    width: 250px;
    background: #FCFEFD;
    position: relative;
    height: 100vh;
    overflow: scroll;
}

.sidebar_items_2 {
    width: 100px;
    background: #FCFEFD;
    position: relative;
    height: 100vh;
    overflow: scroll;
}

.sidebar_items .icons i {
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    cursor: pointer;
    left: 90%;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sidebar_items_2 .icons i {
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    cursor: pointer;
    left: 75%;
    top: 10px;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.hidden {
    display: none !important;
}

.navigation_list {
    padding-top: 30px;
    padding-left: 0px !important;


}



.navigation_list a {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px 0px;
}

.navigation_list li a.active{
    /* background-color: #f8f8f8 !important; */

    color: red;
}
/* .navigation_list ul li a.active{
    background-color: #f8f8f8 !important;
    border-left: 4px solid #304ffd !important;
  
} */



.navigation_list li {
    list-style-type: none;
    display: block;
    padding-left: 30px;
}

.navigation_list li:hover {
    background: #EFF8FF;
    color: blue;
}

.navigation_list i {
    margin-right: 10px;
}

