.content {
    display: flex;
    align-items: start;
}
.context {
    /* padding: 50px; */
    width: calc(100% - 0px);
}

.logo-img {
    width: 200px;
    height: 60px;
}
.sidebar_items_2::-webkit-scrollbar , section.addproductsection::-webkit-scrollbar , .sidebar_items::-webkit-scrollbar {
    display: none;
}



.addclient,
.addproductsection,
.task-section,
.login-bg,
.company-section,
.first-expense-section,
.first-pricelist-section,
.first-sales-section,
.first-stock-section {
    height: 100vh !important;
    overflow-x: scroll;
}

.form-control:focus,
.dropdown-toggle:focus {
    border-color: #777777 !important;

}

button#dropdownMenuButton {
    box-shadow: none !important;
}

.dropdown-toggle:focus {
    box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.75) !important;
    -webkit-box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.75);

}

.addproductsection .nav-tabs .nav-link,
.addclient .nav-tabs .nav-link,
.task-section .nav-tabs .nav-link,
.company-section .nav-tabs .nav-link,
.first-pricelist-section .nav-tabs .nav-link {
    border: none !important;
    margin-bottom: 0 !important;
}

.productlisttable td,
.companyListTable td,
.clientsListTable td,
.taskListsTable td,
.expense_tabless td {
    padding: 30px !important;
}


.productlisttable .row,
.companyListTable .row,
.taskListsTable .row,
.clientsListTable .row,
.expense_tabless .row {
    border: 1px solid red;
    border-radius: 20px;
    background: wheat;
    padding: 20px;
}
