.main-container {

    padding-top: 25px;
    /* overflow: hidden; */
    width: 100%;
    height: auto;

}

.topspace-90 {
    min-height: 100vh;
}

.sidebar-toggle.sssss {
    left: 12px;
    position: fixed;
    top: 32px;
    z-index: 100000000000000000000;
    left: 20px;
}

.logo-img {
    width: 200px;
    height: 60px;
}

section {
    /* height: 100vh; */
    padding-top: 28px;
}

.addclient,
.addproductsection,
.task-section,
.login-bg,
.company-section,
.first-expense-section,
.first-pricelist-section,
.first-sales-section {
    height: 100vh !important;
    overflow-x: scroll;
}

.form-control:focus,
.dropdown-toggle:focus {
    border-color: #777777 !important;

}

button#dropdownMenuButton {
    box-shadow: none !important;
}

.dropdown-toggle:focus {
    box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.75) !important;
    -webkit-box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.75);

}

.addproductsection .nav-tabs .nav-link,
.addclient .nav-tabs .nav-link,
.task-section .nav-tabs .nav-link,
.company-section .nav-tabs .nav-link,
.first-pricelist-section .nav-tabs .nav-link {
    border: none !important;
    margin-bottom: 0 !important;
}

.productlisttable td ,.companyListTable td , .clientsListTable td , .taskListsTable td , .expense_tabless td{
    padding:30px !important;
}


.productlisttable .row  , .companyListTable  .row , .taskListsTable .row , .clientsListTable .row , .expense_tabless .row{
    border:1px solid red;
    border-radius: 20px;
    background: wheat;
    padding:20px;
} 